<div class="order">
    <div class="head">
        <h2>Announcement</h2>
        <div class="sub-head">
            <form action="#" class="search">
                <input type="text" placeholder="Search here">
                <i class='bx bx-search'></i>
            </form>
            <div class="create-btn">
                <a [routerLink]="['/admin/new-announce']">Create New Announcement</a>

            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>About Estate</th>
                <th>Location</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>01-10-2021</td>
                <td>This is just a random about section</td>
                <td>This is just a random description for this estae idk what you are expecting but yeah this is just
                    what is it </td>
                <td>
                    <ul class="btn-actions">
                        <li><i class='bx bxs-trash'></i></li>
                        <li><i class='bx bxs-edit'></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>01-10-2021</td>
                <td>This is just a random about section</td>
                <td>This is just a random description for this estae idk what you are expecting but yeah this is just
                    what is it </td>
                <td>
                    <ul class="btn-actions">
                        <li><i class='bx bxs-trash'></i></li>
                        <li><i class='bx bxs-edit'></i></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>01-10-2021</td>
                <td>This is just a random about section</td>
                <td>This is just a random description for this estae idk what you are expecting but yeah this is just
                    what is it </td>
                <td>
                    <ul class="btn-actions">
                        <li><i class='bx bxs-trash'></i></li>
                        <li><i class='bx bxs-edit'></i></li>
                    </ul>
                </td>
            </tr>


        </tbody>
    </table>

    <div class="pagination">
        <button class="btn-pagination"><i class='bx bx-chevron-left'></i></button>
        <span class="page-number">1</span>
        <button class="btn-pagination"><i class='bx bx-chevron-right'></i></button>
    </div>


</div>