<div class="order">
    <div class="head d-flex flex-row align-items-center justify-content-between">
        <h2>Announcement</h2>
        <div class="sub-head">
            <!-- <form action="#" class="search">
                <input type="text" placeholder="Search here">
                <i class='bx bx-search'></i>
            </form> -->
            <div class="create-btn">
                <a [routerLink]="['/admin/new-announce']">Create New Announcement</a>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Title</th>
                <th>Description</th>
                <th>Address</th>
                <th>Price/Night</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let announcement of announcements; let i = index">
                <td>{{ announcement.id }}</td>
                <td>{{ announcement.title }}</td>
                <td class="text-justify">{{ announcement.description.split(' ').slice(0, 10).join(' ') }}...</td>             
                <td>{{ announcement.address }}</td>
                <td>{{ announcement.priceForNight | currency }}</td>
                <td>{{ announcement.category?.name }}</td>
                <td>
                    <ul class="btn-actions">
                        <li  (click)="deleteAnnouncement(announcement.id || '')"><i class='bx bxs-trash'></i></li>
                        <li (click)="editAnnouncement(announcement.id || '' )"><i class='bx bxs-edit'></i></li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
   

    <div class="d-flex justify-content-center mt-4 pagination">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 0">
                <a class="page-link" (click)="goToPage(1)">First</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === 0">
                <a class="page-link" (click)="prevPage()">Previous</a>
            </li>
            <li *ngFor="let page of [].constructor(totalPages) ; let i = index" class="page-item" [class.active]="i === currentPage">
                <a class="page-link" (click)="goToPage(i)">{{ i }}</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === (totalPages-1)">
                <a class="page-link" (click)="nextPage()">Next</a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === (totalPages-1)">
                <a class="page-link" (click)="goToPage(totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>
