
   <div class="container">
    
        <div class="category-container">
            
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>
            <app-category> </app-category>

        </div>
        <button class="btn"> <i class="bi bi-filter-circle"></i> <span class="hidden">Filters</span> </button>

   </div>
    