<div class="card" (click)="goToDetails()">
    <div class="position">
        <div class="overlay">
            <span class="heart">
              <i class="bi bi-heart"></i>
            </span>
          </div>
          <img [src]="'data:image/png;base64,' + announcement.imageUrl[0]" alt="Announcement Image" />
    

    </div>
   
    <p class="info">{{announcement.address}} <span class="rating"><i class="bi bi-star-fill"></i> {{announcement.averageRating}}</span></p>
    <h4>{{announcement.title}}</h4>
    <p> <span class="price">{{announcement.priceForNight}}$/night ,</span> <span class="availability fw-bold"></span></p>
</div>