<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <a class="navbar-brand" href="#"><img src="logo_axxam.png" alt="logo axxam" /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
   

  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
      </ul>
      <!-- Add the Login button here -->

      <button *ngIf="!isLogged" [routerLink]="['/signup']" [queryParams]="{role: '3'}" class="btn be-host">Put my accommodation
        on Axxam  
        <a href="#"></a>
      
      </button>
 

     
      <button *ngIf="!isLogged" class="btn my-2 my-lg-0 ms-auto btn-login" routerLink="/login">Login</button>   
     
     
     
    <div *ngIf="isLogged" class="profile-container ms-auto">
      <div  class="d-flex flex-row align-items-center">

        <span class="fw-bold mr-2">{{ username }}</span>
        <div class="d-flex flex-row align-items-center">
          <i class="bi bi-caret-down-fill"></i>
          <img
          class="profile-image"
          src="images/default_profile.jpg"
          alt="Profile"
          (click)="toggleLogoutOptions()"
        />

      </div>
     


      </div>
      
      <!-- Menu déroulant avec options de déconnexion -->
      <ul *ngIf="showLogoutOptions" class="logout-options">
        <li><a href="#">Settings</a></li>
        <li><a href="/client" (click)="onLogout()">LogOut</a></li>
      </ul>
    </div>

    
    </div>
    </div>

</nav>
