<div class="features-section">
    <div class="images-container">
        <img src="/assets/images/image27.png" alt="Image 27"/>
        <img src="/assets/images/image-28.png" alt="Image 28"/>
    </div>
    
    <div>
        <h2>Your Home away , From Home awaits</h2>
        <p>Explore our curated collection of vacation homes designed for relaxation and adventure. Your idea retrat is just a click away.
        </p>
        <ul class="features-list">
            <li><img src="/assets/images/icon-voyageur.png" alt="">Instant real-time booking</li>
            <li><img src="/assets/images/icon-voyageur.png" alt=""><span></span>Instant real-time booking</li>
            <li><img src="/assets/images/icon-voyageur.png" alt=""><span></span>Instant real-time booking</li>
            <li><img src="/assets/images/icon-voyageur.png" alt=""><span></span>Instant real-time booking</li>
        </ul>

        <a href="#" class="showMore-btn"><li><span></span>Instant real-time booking</li></a>
    </div>

</div>
