<section class="container">
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-between">
            <h3>Book Place Now</h3>
            <p><span>{{announcement.priceForNight}} $ </span> Per Night</p>
        </div>
        <div class="card-body">
            <form class="d-flex flex-column">
                <div class="d-flex flex-row flex-wrap  "> 
                    <div class="form-group">
                        <label>Start</label>
                        <input type="date" class="form-control">
    
                    </div>
                    <div class="form-group">
                        <label class="label">End </label>
                        <input type="date" class="form-control">
    
                    </div>
    
                </div>
                <div class="form-group">
                    <label>Number of People</label>
                    <input type="number" placeholder="1 Person" class="form-control">
    
                </div>
                <button class="btn btn-s"> Book Place</button>
            </form>
            <div class="total">
                
                <p>No Amount will Be debited from card at this moment</p>
                <div class="order">
                    <p>72$ x 5 nights <span>233$</span></p>
                    <p class="price-total">Total <span>234$</span></p>
                  
                    


                </div>


    
            </div>

        </div>
       
      
    </div>
</section>