<main class="container ">
    <div class="d-flex flex-row justify-content-between align-items-center py-1">
        <h2>{{announcement.title}}</h2>
        <button class="btn fw-bold"> <i class="bi bi-heart-fill"></i> Save </button>
    </div>
    <div class="relative">
        <app-grid-imgs [images]="announcement.photos"></app-grid-imgs>
        <button class="btn position">See More Images</button>

    </div>
    <div class="d-flex flex-row  flex-wrap  wrapper">
        <app-genenral-info-ann (updateValue)="flipIsShown()" [announcement]="announcement" [isReacted]="isReacted"></app-genenral-info-ann>
        <app-reservation-form  [announcement]="announcement"></app-reservation-form>
    </div>
    <div *ngIf="announcement.reactions.length!=0" class="page-reviews">
        <h4>Reviews</h4>
        <div class="d-flex flex-row scroll  justify-content-start align-items-stretch">
            <app-review *ngFor="let review of announcement.reactions" [reaction]="review"></app-review>
            
        </div>

    </div>
    <div *ngIf="isShown">
        <app-add-review  (updateValue)="flipIsShown()" [announcementId]="announcement.id"></app-add-review>

    </div>
    
   

    
</main>
