<div class="order">
    <div class="head">
        <h2>Reservations</h2>
        <div class="sub-head">
            <form action="#" class="search">
                <input type="text" placeholder="Search here">
                <i class='bx bx-search'></i>
            </form>
            <div class="crub-btns">
                <button type="button" class="crub-btn cancel-btn" (click)="canceledReservation()">Canceled</button>
                <button type="button" class="crub-btn pending-btn" (click)="pendingReservation()">Pending</button>
                <button type="button" class="crub-btn comfirm-btn" (click)="comfirmedReservation()">Comfirmed</button>
            </div>
        </div>

    </div>
    <table *ngIf="reservations && reservations.length > 0">
        <thead>
            <tr>
                <th>No</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Number People</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reservation of reservations ; let i = index">
                <td>{{ i+1 }}</td>
                <td>{{ reservation.checkIn }}</td>
                <td>{{ reservation.checkOut }}</td>
                <td>{{ reservation.numberOfGuests }}</td>
                <td><button class="action-btn" data-toggle="modal" data-target="#exampleModalLong"><i
                            class="fas fa-ellipsis-v"></i></button></td>
            </tr>
        </tbody>
    </table>

    <p *ngIf="reservations.length === 0" class="center-text">
        Aucune réservation
    </p>

    <div class="pagination">
        <button class="btn-pagination" (click)="goToPreviousPage()" [disabled]="page === 1"><i
                class='bx bx-chevron-left'></i></button>
        <span class="page-number">{{page}}</span>
        <button class="btn-pagination" (click)="goToNextPage()" [disabled]="page === totalPages"><i
                class='bx bx-chevron-right'></i></button>
    </div>






    <!-- Reservation Details Model -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>



</div>