<div class="features-section">
    <div class="left-container">
        <img src="images/image27.jpg" class="image1" />
        <img src="images/image-28.png" class="image2" />
    </div>

    <div class="right-container">
        <h2>Your Home away , From <br/> Home awaits</h2>
        <p>Explore our curated collection of vacation homes designed for relaxation and adventure. Your idea retrat is
            just a click away.
        </p>
        <ul class="features-list">
            <li><img src="images/icon-voyageur.png" class="voyageur-icon" alt=""> <span>Instant real-time booking</span></li>
            <li><img src="images/icon-voyageur.png" class="voyageur-icon" alt=""><span></span>Instant real-time booking</li>
            <li><img src="images/icon-voyageur.png" class="voyageur-icon" alt=""><span></span>Instant real-time booking</li>
            <li><img src="images/icon-voyageur.png" class="voyageur-icon" alt=""><span></span>Instant real-time booking</li>
        </ul>

        <a href="#" class="showMore-btn">
            Show More
        </a>
    </div>

</div>