body {
  background-color: #f7f7f7;
}

.container {
  font-family: "Varela Round", sans-serif;
  background-color: #f7f7f7;
  color: #9f834cb1;
  position: relative;
  height: 100vh;
  text-align: center;
  font-size: 32px;
}

.container h1 {
  font-size: 32px;
  margin-top: 32px;
}

.boo-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 64px;
  padding-bottom: 64px;
}

.boo {
  width: 160px;
  height: 184px;
  background-color: #f7f7f7;
  margin-left: auto;
  margin-right: auto;
  border: 9.57px solid #816735;
  border-bottom: 0;
  overflow: hidden;
  border-radius: 80px 80px 0 0;
  box-shadow: -16px 0 0 2px rgba(232, 232, 232, 0.5) inset;
  position: relative;
  padding-bottom: 32px;
}

.boo::after {
  content: "";
  display: block;
  position: absolute;
  left: -18.81px;
  bottom: -8.33px;
  width: calc(100% + 32px);
  height: 32px;
  background-repeat: repeat-x;
  background-size: 32px 32px;
  background-position: left bottom;
  background-image: linear-gradient(-45deg, #f7f7f7 16px, transparent 0),
    linear-gradient(45deg, #f7f7f7 16px, transparent 0),
    linear-gradient(-45deg, #816735 18.75px, transparent 0),
    linear-gradient(45deg, #816735 18.75px, transparent 0);
}

.face {
  width: 24px;
  height: 3.2px;
  border-radius: 5px;
  background-color: #816735;
  position: absolute;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
}

.face::before,
.face::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #816735;
  border-radius: 50%;
  position: absolute;
  bottom: 16px;
}

.face::before {
  left: -6px;
}

.face::after {
  right: -6px;
}

.shadow {
  width: 144px;
  height: 16px;
  background-color: rgba(232, 232, 232, 0.75);
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, -10%, 0);
  }
  55% {
    transform: translate3d(0, -10%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes floatingShadow {
  0% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.85);
  }
  55% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.boo {
  animation: floating 3s ease-in-out infinite;
}

.shadow {
  animation: floatingShadow 3s ease-in-out infinite;
}
