<div class="container">
    <div class="row justify-content-between">
        <img  src="sideimg.png"/>
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <div class="text-center mb-4">
              <img src="logo_axxam.png" alt="Logo" class="img-fluid" style="width: 200px;">
            </div>
            <form [formGroup]="loginFormGroup"  (ngSubmit)="handleLogin()">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" formControlName="username" id="email" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password"   id="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-block btn-custom">Sign In</button>
              <div class="text-end mt-3">
                <a href="#" class="forgot-password">Forgot Password?</a>
              </div>
              <div class="text-start mt-2">
                <p class="sign-up">Don't have account?  <a href="#" class="fw-bold link-signup"> Sign Up</a></p>
              
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
  