<footer>
    <div class="footer-section">
        <img src="logo_axxam.png" class="f-logo" />

        <ul>
            <h1>Quick Links</h1>
            <li><a href="#">About</a></li>
            <li><a href="#">Vocation Destination</a></li>
            <li><a href="#">Vacation Rentals</a></li>
            <li><a href="#">Articles</a></li>
        </ul>

        <ul>
            <h1>Quick Links</h1>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">View Site Map</a></li>
            <li><a href="#">Vocation Rentals</a></li>
        </ul>

        <div class="social">
            <h1>Follow us</h1>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

    </div>



    <p class="copyright">Copyright 2024, All Rights Reserved by <br />Axxam</p>
</footer>