
<div class="explore">
    <app-popup *ngIf="isLoading"></app-popup>


</div>

<section *ngIf="!isLoading" class="card">

    <div class="card-header  d-flex justify-content-between align-items-center">
        <h3>Explore Popular Places</h3>
        <a href="#" routerLink="/client/explore" class="btn">Explore More</a>


    </div>
    <div class="card-body d-flex justify-content-between align-items-center">
        <app-card-announcement *ngFor="let announcement of announcements"  [announcement]="announcement"></app-card-announcement>
       

    </div>
</section>