<main >
    <div class="head-title">
        <div class="left">
            <h2>Dashboard</h2>
            <!-- <ul class="breadcrumb">
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li><i class='bx bx-chevron-right'></i></li>
                <li>
                    <a class="active" href="#">Home</a>
                </li>
            </ul> -->
        </div>
        <!-- <a href="#" class="btn-download">
            <i class='bx bxs-cloud-download'></i>
            <span class="text">Download PDF</span>
        </a> -->
    </div>

    <ul class="box-info">
        <li>
            <i class='bx bxs-calendar-check'></i>
            <span class="text">
                <h3>340</h3>
                <p>Reservations</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-wallet'></i>
            <span class="text">
                <h3>$3400</h3>
                <p>Earning</p>
            </span>
        </li>
        <li>
            <i class='bx bxs-star'></i>
            <span class="text">
                <h3>2543</h3>
                <p>Reviews</p>
            </span>
        </li>

        <li>
            <i class='bx bxs-comment'></i>
            <span class="text">
                <h3>2543</h3>
                <p>Comments</p>
            </span>
        </li>
    </ul>

    
</main>