<div class="container">
  <div class="row justify-content-between">
    <img src="sideimg.png" />
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <div class="text-center mb-4">
            <img src="logo_axxam.png" alt="Logo" class="img-fluid" style="width: 200px;">
          </div>
          <form [formGroup]="profileForm" (ngSubmit)="saveUser()">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" aria-describedby="usernameHelp"
                placeholder="John Doah" formControlName="username">
                <small class="text-danger" *ngIf="profileForm.get('username')?.touched && profileForm.get('username')?.errors?.['required']">
                  Username is required.
                </small>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="john@example.com" formControlName="email">
                <small class="text-danger" *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.errors?.['required']">
                  Email is required.
                </small>
                <small class="text-danger" *ngIf="profileForm.get('email')?.touched && profileForm.get('email')?.errors?.['email']">
                  Please enter a valid email address.
                </small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="*********"
                formControlName="password">
                <small class="text-danger" *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.errors?.['required']">
                  Password is required.
                </small>
                <small class="text-danger" *ngIf="profileForm.get('password')?.touched && profileForm.get('password')?.errors?.['minlength']">
                  Password must be at least 6 characters.
                </small>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" class="form-control" id="comfpassword" placeholder="*******"
                formControlName="comfpassword">
                <small class="text-danger" *ngIf="profileForm.errors?.['passwordsNotMatching']">
                  Passwords do not match.
                </small>
            </div>
            <button type="submit" class="btn btn-block btn-custom">Sign Up</button>

            <div class="text-start mt-2">
              <p class="sign-up">Already have account? <a href="#" class="fw-bold link-signup"
                  [routerLink]="['/login']"> Sign In</a></p>

            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>